.caja {
    width: 940px;
}

.alura {
    width: 120px;
    height: 48px;
}

a {
    text-decoration: none;
}
h1 img {
    width: 48px;
    height: 48px;
    margin: 10px 0 0 25px;
    transition: 10s;
    opacity: 100%;
}

h1 img:hover {
    rotate: 1800deg;
    opacity: 5%;
}

h2 {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.cuadro {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}

/* .resultados {

} 

.busqueda {
    
} */

.busqueda, p {
    width: 336px;
    height: 48px;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}