.caja {
    width: 940px;
}
h2 {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}