.caja {
    width: 940px;
}
h2 {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.cuadro {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
}

/* .resultados {

} 

.busqueda {
    
} */

.busqueda, p {
    width: 336px;
    height: 48px;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
}